* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}
button {
  padding: 16px 20px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: #ccc;
  border: 1px solid #bbb;
  font-size: 18px;
}
button:hover {
  opacity: 0.85;
}
button:active {
  transform: scale(1.004);
}

input,
textarea {
  padding: 20px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
}
textarea {
  resize: none;
  overflow: auto;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.local_images {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.close_image {
  position: absolute;
  top: 5px;
  right: 5px;
  color: crimson;
  font-size: 32px;
  cursor: pointer;
}
.local_image {
  position: relative;
}
